body {
  font-family: 'Mukta Malar', sans-serif;
}


/* flexbox layout */
.flex-container {
  display: flex;
}

.horizontal-container {
  flex-direction: row;
}

.vertical-container {
  flex-direction: column;
}

.outer-container {
  min-height: 100vh;
  padding: 10px;
  justify-content: space-between;
}

/* start navbar */
.nav-container {
  border-bottom: 1px solid #F2F2F2;
  font-size: 16px;
  padding: 15px;
  margin-bottom: 20px;
  justify-content: space-between;
}

.logo {
  font-size: 18px;
}

nav ul li {
 display: inline-block;
 padding: 0 1.4em 0 0;
 font-size: 0.9em;
}

nav ul li a {
 text-decoration: none;
 color: #7D7C7D;
}
/* end navbar */

.left-container {
  display: inline-block;
  vertical-align: top;
}

img {
    max-width: 100%;
}

.footer-container {
  border-top: 1px solid #F2F2F2;
  max-height: 3vh;
  padding-top: 6px;
  margin: 1px;
  font-size: 12px;
}

.auth-card {
  width: 350px;
  margin: auto;
  margin-top: 7%;
  padding: 15px;
}

.gAuth-link:hover {
  text-decoration: none;
  color: #0e254c;
}

.gAuth-link {
  color: #808080;
}

.logoImg {
  max-height: 100px;
}
